<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlockBase.Dapps.NeverForgetBot.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="icon" href="~/img/Logo.png" type="image/gif" sizes="16x16">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>

    @await Html.PartialAsync("_LogoPartial")

    <header class="sticky-top banner">
        <div>
            <div class="neverForgetHome">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="center">
                    <h3 class="name center">Never Forget Bot</h3>
                </a>
            </div>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
                <div class="container">
                    <div class="row center">
                        <button class="navbar-toggler center mt-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RedditContexts" asp-action="Index"><b>Reddit</b></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TwitterContexts" asp-action="Index"><b>Twitter</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>






    <div class="container mainBody">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="col">
                &copy; 2021 - NeverForgetBot
                <a href="https://twitter.com/_NeverForgetBot"><i class="icon fab fa-reddit-alien "></i></a>
                <a href="https://www.reddit.com/user/NeverForget-Bot"><i class="icon fab fa-twitter"></i></a>
            </div>
            @*<div class="col">
                    <a href="https://twitter.com/_NeverForgetBot"><i class="icon fab fa-reddit-alien "></i></a>
                    <a href="https://www.reddit.com/user/NeverForget-Bot"><i class="icon fab fa-twitter"></i></a>
                </div>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
