<div class="container logoBackground">
    <div class="row">
        <div class="col center">
            <p class="fixed-top"></p>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/Logo.png" class="logo" />
            </a>
        </div>
    </div>
</div>