@using BlockBase.Dapps.NeverForgetBot.WebApp.Models
@using BlockBase.Dapps.NeverForgetBot.Common.Enums
@model IEnumerable<GeneralContextViewModel>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-" style="padding: 0">
                <div class="card contextCard">

                    @if (item.SourceType == SourceTypeEnum.Reddit)
                    {
                        <img src="~/img/Reddit_logo.jpg" class="socialMediaLogo" />
                    }
                    @if (item.SourceType == SourceTypeEnum.Twitter)
                    {
                        <img src="~/img/Twitter_logo.png" class="socialMediaLogo" />
                    }
                    <div class="card-body">
                        <div class="card-content home">@Html.DisplayFor(modelItem => item.Content)</div>
                    </div>



                </div>

            </div>














        }
    </div>
</div>