@using BlockBase.Dapps.NeverForgetBot.WebApp.Models
@model IEnumerable<TwitterContextViewModel>

<div class="container twitterContext">
    <div class="row">
        <table class="table display no-wrap homeTable" id="twitterTable">
            @foreach (var item in Model)
            {
                <thead>
                    <tr><th></th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md contentContext">
                                    <div class="card-body borderTwitter">
                                        <div class="card-text d-block  text-left">@Html.DisplayFor(modelItem => item.Content)</div>
                                        <b class="card-text d-block text-right">@Html.DisplayFor(modelItem => item.Author)</b>
                                    </div>
                                </div>

                                <div class="col- d-flex align-items-center">
                                    <div class="card-body">
                                        @{
                                            var dateToString = item.Date.ToString("yyyy/MM/dd");
                                        }
                                        <div class="card-content">@Html.DisplayFor(modelItem => dateToString) <i class="fas fa-calendar-alt"></i></div>
                                    </div>
                                </div>

                                <div class="col-  p-0 d-flex border-0 align-items-center detailsLogo">
                                    <div class="card border-0 detailsImg">
                                        <a asp-controller="TwitterContexts" asp-action="Details" asp-route-id="@item.Id">
                                            <img src="~/img/searchRobot.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>